---
version: '3.5'

services:
  proxy:
    image: traefik:2.4
    command: 
      ## Provider Settings - https://docs.traefik.io/providers/docker/#provider-configuration ##
      - --providers.docker.swarmMode=true
      ## API Settings - https://docs.traefik.io/operations/api/, endpoints - https://docs.traefik.io/operations/api/#endpoints ##
      - --api.insecure=true
    ports:
      - 80:80
      - 8082:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        max_attempts: 5
        window: 10s

  webapp:
    volumes:
      - .:/var/www/3dPrime
    deploy:
      mode: replicated
      replicas: 1
      labels:
         - "traefik.enable=true"
         - "traefik.http.routers.webapp.rule=Host(`new.3dprime.devel.lib.msu.edu`)"
         - "traefik.http.services.webapp.loadbalancer.server.port=80"
      restart_policy:
        max_attempts: 5
        window: 10s

