####################################
## Application Config Settings
###################################


[application]
timezone 	= "America/Detroit"
url		= "http://application_url"
email 		= "root@server.address"
updates_email   = "admin_email@test.edu"
owner 		= "application_owner@test.edu"
usps_id = "usps_api_id"

[authentication.okta]
issuer          = "https://okta.endpoint"
client_id       = "okta.client_id"
client_secret   = "okta.client_secret"
redirect_url    = "http://application_url/?t=okta-authorization-code-callback"
logout_redirect_uri     = "http://application_url/"
active          = 1

[sql.auth.primary]
user		= makeatstate
password 	= password
database 	= makeatstate
host		= database
port		= 3306

[logging]
file = "/tmp/MakeAtState.log"

[upload]
path 		= "/mnt/makeatstate/files"
attachment_path = "/mnt/makeatstate/attachments"
attachment_ext  = "png"
attachment_ext  = "jpg"
attachment_ext  = "jpeg"
ext = "stl"
ext = "jpg"
ext = "jpeg"
ext = "png"
ext = "svg"
ext = "pdf"
ext = "tiff"
ext = "tif"
ext = "ai"



# views:
#   0 - no view
#   1 - three.js
#   2 - browser

[file_type]
stl.ext = "stl"
stl.mime_type            = "application/octet-stream"
stl.mime_type            = "application/vnd.ms-pki.stl"
stl.mime_type            = "application/x-navistyle"
stl.mime_type            = "application/sla"
stl.view = 1
stl.downloadable

jpeg.ext         = "jpeg"
jpeg.mime_type            = "image/jpeg"
jpeg.mime_type            = "image/x-citrix-jpeg"
jpeg.view = 2
jpeg.downloadable

jpg.ext         = "jpg"
jpg.mime_type            = "image/jpeg"
jpg.mime_type            = "image/x-citrix-jpeg"
jpg.view = 2
jpg.downloadable


png.ext         = "png"
png.mime_type = "image/png"
png.view = 2
png.downloadable

svg.ext = "svg"
svg.mime_type            = "image/svg+xml"
svg.view = 2
svg.downloadable

pdf.ext         = "pdf"
pdf.mime_type            = "application/pdf"
pdf.view = 2
pdf.downloadable

tiff.ext         = "tiff"
tiff.mime_type            = "image/tiff"
tiff.mime_type            = "image/x-tiff"
tiff.view = 0
tiff.downloadable

tif.ext         = "tif"
tif.mime_type            = "image/tiff"
tif.mime_type            = "image/x-tiff"
tif.view = 0
tif.downloadable

ai.ext         = "ai"
ai.mime_type            = "application/postscript"
ai.view = 0
ai.downloadable

#type            = "application/octet-stream"

[app.start_year]
start_year 	= 2018 // get the starting year for analytics

[app.storage]
268435456 //256 MB
536870912 //512 MB
1073741824 //1 GB
2147483648 //2GB

[workflow_tags]
3dprint.help_url = "https://helptext_url"
3dprint.url_text = "MakeCentral Makerspace 3D Printing"
3dprint.dimensions_placeholder ="e.g. 16mmx70mmx30.4mm or 401.89mm on the longest side"
vinyl.help_url = "https://helptext_url"
vinyl.url_text = "MakeCentral Makerspace Vinyl cutting"
vinyl.dimensions_placeholder = "List the size of your object excluding any blank space surrounding the design. Ex. 10in x 3.9in"
laser.help_url = "https://helptext_url" 
laser.url_text = "MakeCentral Makerspace Laser cutting"
laser.dimensions_placeholder = "Please format your file so your object is on a 12x12in or 12x20in sized file"
default.help_url = "https://helptext_url" 
default.url_text = "MakeCentral Makerspace"

[app.affiliation]
1		= "Community user"
2		= "Faculty"
3		= "Staff"
4		= "Student"

