<div class = "col-md-9 prime_padding0px prime_margin10px">
<div class="card prime_long_card mb-9">  
	<div class="card-header prime_background_teal"> 

		Estimated Delivery Date
	</div>
	 <div class="card-body row justify-content-center">
		 <div class = "col-md-6 prime_textalign_center">
			<small  class="text-muted" style="display:block">
      				Estimated delivery
    			</small>   
			 {{ delivery_date_details  }}
		</div>
		

	</div>

	<div class="card-footer">
			
		
		
	</div>
</div>
</div>



