{% block footer %}

<div class ="prime_footer">
	<div class = "container-fluid">
		<div class = "row justify-content-center">
			<div class = "col-12 col-lg-auto order-lg-first order-last" style="margin-top:25px">
				<a href="http://www.msu.edu" rel="nofollow">
					<img alt="Michigan State University Wordmark" src="../images/msu-wordmark-green.png" />
				</a>
			</div>
			<div class = "col-12 col-lg-auto prime_margintop10px">

				<ul class="prime_unit_info">
					<li>Call Us:
						<a href="tel:+18005001554">(800)&nbsp;500-1554</a>
					</li>
					<li>
						<a href="http://www.lib.msu.edu/contact" rel="nofollow">Contact&nbsp;Information</a>
					</li>
					<li>
						<a href="http://www.lib.msu.edu/about/privacystmt/" rel="nofollow">Privacy&nbsp;Statement</a>
					</li>
					<li>
						<a href="http://www.lib.msu.edu/general/site-accessibility/" rel="nofollow">Site Accessibility</a>
					</li>
				</ul>

				<ul class="prime_footer_info">
					<li>Call MSU:
						<strong>
							<span class="msu_footer_green">(517) 355-1855</span>
						</strong>
					</li>
					<li>Visit:
						<strong>
							<a href="http://msu.edu" rel="nofollow">
								<span class="msu_footer_green">msu.edu</span>
							</a>
						</strong>
					</li>
					<li>MSU is an affirmative-action,
						<span>equal-opportunity employer.</span>
					</li>
					<li>
						<a href="https://civilrights.msu.edu/policies/" rel="nofollow">
							<span class="msu_footer_green">Nondiscrimination (OIE)</span>
						</a>
					</li>
				</ul>

				<ul class="prime_copyright">
					<li>
						<strong>SPARTANS WILL.</strong>&copy; Michigan State University Board of Trustees
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
