<div class = "col-md-9 prime_padding0px prime_margin10px">
    <div class="card prime_borderlightgrey mb-3">
        <div class="card-header prime_background_teal"> Job notes</div>
        <div class="card-body" >
            {% for notes in job_notes  %}
            <div class = "row  prime_padding10px {{loop.index%2 ? '' : 'prime_background_lightblue' }}" >
                <div class = "col-md-8 prime_borderright_grey">

                    <small class="text-muted">note:  </small>{{ notes['note_text'] }}
                </div>

                <div class = "col-md-2 prime_borderright_grey">

                    <small class="text-muted"> {{ notes['created'] }}</small>
                </div>
                <div class = "col-md-2 ">

                    <small class="text-muted">by: </small> {{ notes['first_name'] }} {{ notes['last_name'] }}
                </div>




            </div>


            {% endfor %}
        </div>
    </div>



</div>


