
{% block pass_reset_email_template %}
<html lang="en">
  <head>
  <title>3dPrime</title>
  </head>
  <body >
    <header style="background: #009D6C;color: #fff;font-size: 70px;padding: 20px;">MakeAtState</header>
    <h1 style="color: #009D6C;">{{ name|title }}, </h1>
     
    <p style="font-size: 20px;color: #444444;line-height: 25px;">To reset your password please click  <a href="{{ confirm_url }}">{{ confirm_url }}</a>

    </p>
    <p style="font-size: 20px;color: #444444;line-height: 25px;">If you did not request a password reset please ignore this email. Please visit our <a hre="3dprime.lib.msu.edu">website</a>  to find out more </p>
  

  </body>

</html>

{% endblock %}

