<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src = "../js/makeatstate_analytics.js"></script>

			<div class = "row justify-content-center prime_margintop20px years prime_marginbottom20px">
  					<div class="col-1 prime_border_twinkleblue prime_textalign_center prime_borderradius20px  "> </div>
					
			</div>
		
		<div class = "col-md-9 prime_padding0px prime_margin10px">
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>

