{% extends 'base.html' %}


{% block content %}

{% include 'prime_alerts.html' %} 
<form class = "form-row justify-content-center prime_margintop20px " novalidate="" id ="resetForm"  action="/"  method ="post">

	<input type="hidden" name="t" value="reset_pass">  
	<input type="hidden" name="rn" value={{pn}}>  
	<input type="hidden" name="rpuid" value={{rpuid}}>  

<div class = "col-md-4 prime_borderlightgrey prime_padding20px">

	<div class="input-group mb-2 mr-sm-2 prime_margintop20px prime_center_padding">
		<div class="input-group-prepend">
	      		<div class="input-group-text">New Password *</div>
	    	</div>
	    	<input type="password" class="form-control" id ="resetPassword" minlength="8" name ="password" placeholder="password" required>
		<div class ="invalid-feedback">
			Password should be atleast 8 characters long	
		</div>
		
	 </div>
	<small  class="text-muted text-center" style="display:block">
      		Must be 8-20 characters long.
    	</small>

	<div class="input-group mb-2 mr-sm-2 prime_margintop20px prime_center_padding">
		<div class="input-group-prepend">
	      		<div class="input-group-text">Confirm Password *</div>
	    	</div>
	    	<input type="password" class="form-control" name = "cpassword" id="confirmResetPassword"  placeholder="password" required>
		<div class ="invalid-feedback" id="confirmInvalid">
			Comfirm password filed cannot be empty and should match the password field	
		</div>
		
	 </div>
	<small  class="text-muted text-center" style="display:block">
		Must be 8-20 characters long and same as the password entered in the "Password" field
    	</small>

		
	<div class="input-group mb-2 mr-sm-2 prime_margintop10px prime_center_padding">
		<div class="input-group-prepend">
	      		<div class="input-group-text">Password hint</div>
	    	</div>
	    	<input type="text" class="form-control" placeholder="Hint for your password" name ="hint" >
	 </div>
	
	<div class ="text-center prime_margintop20px">
		<input type="submit" class="btn btn-info reset_password_btn" value ="Reset Password"/>
	</div>

	<div class ="text-center prime_margintop20px">
		<a href = "/?t=login" class="prime_pill_btn ">Back to sign in</a>
	</div>
	
	
</div>

</form>




{% endblock %}


