{% extends 'base.html' %}

{% block content %}



<div class="jumbotron">
	<h1 class="display-4">Your Cart, </h1>
  	<p class="lead">Showing all items in cart. Submit items to MakeCentral for a price quote.</p>
  	<hr class="my-4">
  	<p>Submitted projects can be viewed using “Jobs” menu.</p>
</div>
{% include 'prime_alerts.html' %}

{% if cart_details is not empty %}
    <div class="row my-3 justify-content-center">
        <div class="col-auto">
            <div class="px-3 rounded-pill prime_background_success">Upload Files</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_background_success rounded-pill">Add Files to Cart</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_background_success rounded-pill">Select Options</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_bg_primary_border rounded-pill">Submit Projects</div>
        </div>
    </div>
{% endif %}

<div class = "row justify-content-center  prime_margintop20px">
	<div class = "col-md-9">
	    {% for project_id , project in cart_details %}
            <div class="card mb-4 border p-4">
                {% set project_name = project[0]['project_name'] %}
                <h2>{{ project_name  }}</h2>
                {% for idx , val in project %}
                    <div class="accordion rounded-0" id="accordion{{ val['project_id'] }}">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="heading{{ val['project_id'] }}-{{ val['file_id'] }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ val['project_id'] }}-{{ val['file_id'] }}" aria-expanded="false" aria-controls="collapse{{ val['file_id'] }}">
                                    {{ val['file_name'] }}
                                </button>
                            </h3>
                            <div id="collapse{{ val['project_id'] }}-{{ val['file_id'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ val['project_id'] }}-{{ val['file_id'] }}" data-bs-parent="#accordion{{ val['project_id'] }}">
                                <div class="accordion-body">
                                    {% for cart_key, cart_val in val['data'] %}
                                        <div class = "row">
                                            <p class="col-2 col-md-4 col-lg-3 fw-bold">{{ cart_key }}</p>
                                            <p class="col-12 col-md-8 col-lg-9">{{ cart_val|slice(0, 50) }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Form Markup TODO: aria--> 
                <h4 class="mt-3">Survey Questions (optional)</h4>
                <form id="form-{{project_id}}" action="/?t=workflow&uid={{ user_id }}&project_id={{ project_id }}&step=1" method="post">

                 {% for question in questions %}  
                    {% if question['question_type'] == 'Text' %} <!-- text input -->
                    <fieldset class="{{question['question_id']}}-block form-group ms-1 mt-1 row">
                        <label class="col-md-4 col-form-label" for="{{project_id}}-{{question['question_id']}}">{{ question['question_text'] }}</label>
                        <input class="col-md-8" type="text" id="{{project_id}}-{{question['question_id']}}" name="{{question['question_id']}}" placeholder="">
                    </fieldset>
                    {% elseif question['question_type'] == 'YesNo' %}  <!-- yes/no input -->
                    <fieldset class="{{question['question_id']}}-block form-group ms-3 mt-3">
                        <p>{{ question['question_text'] }}</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-{{question['question_id']}}-yes" name="{{question['question_id']}}" value="yes">
                            <label class="form-check-label" for="{{project_id}}-{{question['question_id']}}-yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-{{question['question_id']}}-no" name="{{question['question_id']}}" value="no">
                            <label class="form-check-label" for="{{project_id}}-{{question['question_id']}}-no">No</label>
                        </div>
                    </fieldset>
                    {% elseif question['question_type'] == 'MultipleChoice' %}  <!-- checkbox input -->
                    <fieldset class="{{question['question_id']}}-block form-group ms-3 mt-3">
                        <p>{{ question['question_text'] }}</p>
                        {% for option in question['choices'] %}  
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-{{question['question_id']}}-{{option['option_id']}}" name="{{question['question_id']}}[]" value="{{option['option_id']}}">
                            <label for="{{project_id}}-{{question['question_id']}}-{{option['option_id']}}">{{ option['option_text'] }}</label>
                        </div>
                        {% endfor %}
                    </fieldset>
                    {% elseif question['question_type'] == 'SelectOne' %}  <!-- radio input -->
                    <fieldset class="{{question['question_id']}}-block form-group ms-3 mt-3">
                        <p>{{ question['question_text'] }}</p>
                        {% for option in question['choices'] %}  
                        <div class="form-check">
                            <input type="radio" id="{{project_id}}-{{question['question_id']}}-{{option['option_id']}}" name="{{question['question_id']}}[]" value="{{option['option_id']}}">
                            <label for="{{project_id}}-{{question['question_id']}}-{{option['option_id']}}">{{ option['option_text'] }}</label>
                        </div>
                        {% endfor %}
                    </fieldset>
                    {% elseif question['question_type'] == 'TextArea' %}  <!-- textarea input -->
                    <fieldset class="{{question['question_id']}}-block form-group mt-3 mb-3">
                        <label for="{{project_id}}-{{question['question_id']}}">{{ question['question_text'] }}</label><br>
                        <textarea id="{{project_id}}-{{question['question_id']}}" name="{{question['question_id']}}" class="form-control" rows="8"></textarea>                            
                    </fieldset>
                    {% endif %}
                 {% endfor %}
                <!-- to get an array of question ids -->
                 {% set qids = [] %}
                 {% for question in questions %}
                     {% set qids = qids | merge([question['qid']]) %}
                 {% endfor %} 
                 <input type="hidden" name="question_ids" value="{{ qids | join(',') }}">
                </form>
                <!-- Form Markup End -->
            </div>
		{% else %}
			<div class="card prime_borderlightgrey mb-3">
			    <div class="card-header">Your cart is empty</div>
			    <div class="card-body text-secondary">
			        <p class="card-text">Please visit this page after you add items into your cart</p>
			    </div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}