{% for question in assessment_questions %}
<div id="assessment_{{ question['question_id']}}" >

    <div class="card prime_long_card" >
        <div class="prime_card_solid_form" >
            <div class="card-header prime_background_teal">
                Question #{{question['question_id']}}
                <a href="#" class="btn btn-outline-light prime_icon_btn workflow_edit  edit_btn" id="edit_assessment_{{question['question_id']}}" aria-label="Edit assessment question"i data-toggle="tooltip" data-placement="top" title="Edit assessment question"><i data-feather="edit-2"></i></a>
            </div>
            <div class="card-body row">
                <div class="col-md-9 prime_textalign_center prime_borderbottom_lightgrey prime_paddingbottom10px">
                    <small  class="text-muted" style="display:block">
                        Question Text
                    </small>
                    {{question['question_text']}}
                </div>
                <div class="col-md-3 prime_textalign_center prime_borderbottom_lightgrey prime_paddingbottom10px">
                    <small  class="text-muted" style="display:block">
                        Question Type
                    </small>
                    {{ question['question_type'] }}
                </div>
                {% if question['choices']%}
                <div class="prime_textalign_center prime_borderbottom_lightgrey prime_paddingbottom10px">
                    <small class="text-muted" style="display:block">
                        Question Choices
                    </small>
                    <ul>
                        {% for choice in question['choices'] %}
                            <li>{{choice['option_text']}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
            
            <div class="card-footer">
                <a 
                    href="/?t=remove_assessment&qid={{ question['question_id']}}"  
                    class="btn btn-danger prime_white_text" aria-label="Delete assessment question" data-toggle="tooltip" data-placement="top" title="Delete assessment question"><i data-feather="trash-2"></i></a>
            </div>
        </div>
    </div>

    <div class="card prime_long_card prime_card_hidden_form">
        <form action="/">
            <input type="hidden" name="t" value="edit_assessment">
            <input type="hidden" name="assessment_id" value="{{ question['question_id'] }}">

            <div class="card-header prime_background_teal">
                Question #{{question['question_id']}}
                <a href="#" class="btn btn-outline-light prime_icon_btn workflow_edit  edit_btn" id="edit_assessment_{{question['question_id']}}" aria-label="Edit assessment question"i data-toggle="tooltip" data-placement="top" title="Edit assessment question"><i data-feather="edit-2"></i></a>
            </div>

            <div class="card-body row">
                <div class="prime_textalign_center prime_borderbottom_lightgrey prime_paddingbottom10px">
                    <small class="text-muted" style="display:block">
                        Question Text
                    </small>    
                    <textarea 
                        class="form-control" 
                        aria-label="Assessment text" 
                        type="text" maxlength="250" rows="4" 
                        name="question_text" required
                        style="resize: none;"
                    >{{question['question_text']}}</textarea>
                    <div class ="invalid-feedback">
                        Assessment text cannot be empty
                    </div>
                </div>
            </div>

            <div class="prime_textalign_center prime_borderbottom_lightgrey prime_paddingbottom10px">
                <small class="text-muted" style="display:block">
                    Question Type
                </small>
                <div style="display:flex; gap:2rem; justify-content: center;">
                {% for type in assessment_types %}
                <label><input 
                    type="radio" 
                    id="radio_{{type['qtype_id']}}" 
                    value="{{type['qtype_id']}}" 
                    name="question_type"
                    {{question['qtype_id'] == type['qtype_id']? 'checked' : ''}}
                >{{'('}}{{type['qtype_id']}}{{') '}}{{type['question_type']}}</label>
                {% endfor %}
                </div>
            </div>

            <!-- TODO: Add editing for assessment question choices if type['has_choices'] -->
            {% for type in assessment_types %}
                {% if type['qtype_id'] == question['qtype_id'] and type['has_choices'] %}
                <p>add question choice editing here.</p>
                {% endif %}
            {% endfor %}
            
            <div class="card-footer">
                <input type="button" class="btn btn-danger cancel_edit_status back_btn" id="back_assessment_{{ question['question_id']}} "value="Cancel">
                <input type="submit" class="btn btn-success prime_float_right prime_workflow_step_validate_btn" id="prime_assessment_validate_btn_{{ loop.index }}" value="Update">
            </div>
        </form>
    </div>
</div>
{% endfor %}