{% extends 'base.html' %}

{% block content %}



<div class="jumbotron">
	<h1 class="display-4">Your Cart, </h1>
  	<p class="lead">Showing all items in cart. Submit items to MakeCentral for a price quote.</p>
  	<hr class="my-4">
  	<p>Submitted projects can be viewed using “Jobs” menu.</p>
</div>
{% include 'prime_alerts.html' %}

{% if cart_details is not empty %}
    <div class="row my-3 justify-content-center">
        <div class="col-auto">
            <div class="px-3 rounded-pill prime_background_success">Upload Files</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_background_success rounded-pill">Add Files to Cart</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_background_success rounded-pill">Select Options</div>
        </div>
        <div class="col-auto">
            <i data-feather="arrow-right"></i>
        </div>
        <div class="col-auto">
            <div class="px-3 prime_bg_primary_border rounded-pill">Submit Projects</div>
        </div>
    </div>
{% endif %}

<div class = "row justify-content-center  prime_margintop20px">
	<div class = "col-md-9">
	    {% for project_id , project in cart_details %}
            <div class="card mb-4 border p-4">
                {% set project_name = project[0]['project_name'] %}
                <h2>{{ project_name  }}</h2>
                {% for idx , val in project %}
                    <div class="accordion rounded-0" id="accordion{{ val['project_id'] }}">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="heading{{ val['project_id'] }}-{{ val['file_id'] }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ val['project_id'] }}-{{ val['file_id'] }}" aria-expanded="false" aria-controls="collapse{{ val['file_id'] }}">
                                    {{ val['file_name'] }}
                                </button>
                            </h3>
                            <div id="collapse{{ val['project_id'] }}-{{ val['file_id'] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ val['project_id'] }}-{{ val['file_id'] }}" data-bs-parent="#accordion{{ val['project_id'] }}">
                                <div class="accordion-body">
                                    {% for cart_key, cart_val in val['data'] %}
                                        <div class = "row">
                                            <p class="col-2 col-md-4 col-lg-3 fw-bold">{{ cart_key }}</p>
                                            <p class="col-12 col-md-8 col-lg-9">{{ cart_val|slice(0, 50) }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Form Markup TODO: aria--> 
                <h4 class="mt-3">Survey Questions (optional)</h4>
                <form id="form-{{project_id}}" action="/?t=view_cart" method="post">
                    <fieldset class="form-group ms-3 mt-3 q1-block">
                        <p>Can MSU Libraries post a picture of your work on its Social Media accounts?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-q1-yes" name="q1" value="yes">
                            <label class="form-check-label" for="{{project_id}}-q1-yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-q1-no" name="q1" value="no">
                            <label class="form-check-label" for="{{project_id}}-q1-no">No</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group ms-1 mt-1 row q2-block">
                        <label class="col-md-4 col-form-label" for="{{project_id}}-q2">List Instagram accounts you want to be tagged with:</label>
                        <input class="col-md-8" type="text" id="{{project_id}}-q2" name="q2" placeholder="@">
                    </fieldset>
                    <fieldset class="form-group ms-3 mt-3 q3-block">
                        <p>Is this project part of an MSU class?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-q3-yes" name="q3" value="yes">
                            <label class="form-check-label" for="{{project_id}}-q3-yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="{{project_id}}-q3-no" name="q3" value="no">
                            <label class="form-check-label" for="{{project_id}}-q3-no">No</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group ms-1 mt-1 row q4-block">
                        <label class="col-md-5 col-form-label" for="{{project_id}}-q4">What class or course# or section# is the project associated with?</label>
                        <input class="col-md-7" type="text" id="{{project_id}}-q4" name="q4">
                    </fieldset>
                    <fieldset class="form-group ms-3 mt-3 q5-block">
                        <p>Is the project you are submitting associated with any of these items?</p>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o1" name="q5[]" value="o1">
                            <label for="{{project_id}}-q5-o1">This is a gift, for fun, or personal project</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o2" name="q5[]" value="o2">
                            <label for="{{project_id}}-q5-o2">This is a homework assignment</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o3" name="q5[]" value="o3">
                            <label for="{{project_id}}-q5-o3">Part of a graduate thesis or dissertation</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o4" name="q5[]" value="o4">
                            <label for="{{project_id}}-q5-o4">Research related</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o5"  name="q5[]" value="o5">
                            <label for="{{project_id}}-q5-o5">A work-related job or task (e.g. exhibition, promotions or giveaways)</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o6" name="q5[]" value="o6">
                            <label for="{{project_id}}-q5-o6">Prototyping for Business or Entrepreneurship</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o7" name="q5[]" value="o7">
                            <label for="{{project_id}}-q5-o7">Other</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="{{project_id}}-q5-o8" name="q5[]" value="o8">
                            <label for="{{project_id}}-q5-o8">I prefer not to say</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group mt-3 mb-3 q6-block">
                        <label for="{{project_id}}-q6">We would love to hear more about what you are working on. Please feel free to share more details.</label><br>
                        <textarea id="{{project_id}}-q6" name="q6" class="form-control" rows="8"></textarea>                            
                    </fieldset>
                    <div class="">
                        <a href = "/?t=remove_cart_item&rpid={{ project_id }}" class="btn btn-danger prime_white_text mt-3 d-inline" aria-label = "Delete item" style="width: max-content;">Remove</a>
                        <button type="submit" class="btn btn-success d-inline" aria-label = "Submit item" style="width: max-content;">Submit Project</button>
                    </div>
            </form>
            <!-- Form Markup End -->
            </div>

            <script>
                $(document).ready(function(){
                    $("#submit-project-assessment").click(function(e){
                        e.preventDefault();
                        var projectId = $(this).data("project-id");
                        var form = $("#form-" + projectId);
                        console.log(form);
                        //window.location.href = "http://www.google.com";
                    });
                });
            </script>
		{% else %}
			<div class="card prime_borderlightgrey mb-3">
			    <div class="card-header">Your cart is empty</div>
			    <div class="card-body text-secondary">
			        <p class="card-text">Please visit this page after you add items into your cart</p>
			    </div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}